/*!
 * Item: Flexi
 * Description: Personal Portfolio HTML5 Template
 * Author/Developer: Exill
 * Author/Developer URL: https://themeforest.net/user/exill
 * Version: v1.0.1
 * License: Themeforest Standard Licenses: http://themeforest.net/licenses
 */

/*=========================================
=            Table of Contents            =
=========================================*/
/**
 * Global Styles
 * Bootstrap Reset
 * Navbar Area
 * Services Area
 * Portfolio Area
 * Testimonials Area
 * Blog Area
 * Contact Area
 */
/*=====  End of Table of Contents  ======*/
/*=======================================
=            Bootstrap Reset            =
=======================================*/
.table-custom,
.table-custom > th,
.table-custom > td {
  background-color: #b6cbea;
}

.table-hover .table-custom:hover {
  background-color: #a2bde4;
}

.table-hover .table-custom:hover > td,
.table-hover .table-custom:hover > th {
  background-color: #a2bde4;
}

.btn-custom {
  color: #3365b0;
  background-color: #3365b0;
  border-color: #3365b0;
}

.btn-custom:hover {
  color: #3365b0;
  background-color: #2b5594;
  border-color: #284e88;
}

.btn-custom:focus, .btn-custom.focus {
  box-shadow: 0 0 0 0.2rem rgba(51, 101, 176, 0.5);
}

.btn-custom.disabled, .btn-custom:disabled {
  color: #3365b0;
  background-color: #3365b0;
  border-color: #3365b0;
}

.btn-custom:not(:disabled):not(.disabled):active, .btn-custom:not(:disabled):not(.disabled).active,
.show > .btn-custom.dropdown-toggle {
  color: #3365b0;
  background-color: #284e88;
  border-color: #254a81;
}

.btn-custom:not(:disabled):not(.disabled):active:focus, .btn-custom:not(:disabled):not(.disabled).active:focus,
.show > .btn-custom.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(51, 101, 176, 0.5);
}

.btn-outline-custom {
  color: #3365b0;
  background-color: transparent;
  background-image: none;
  border-color: #3365b0;
}

.btn-outline-custom:hover {
  color: #3365b0;
  background-color: #3365b0;
  border-color: #3365b0;
}

.btn-outline-custom:focus, .btn-outline-custom.focus {
  box-shadow: 0 0 0 0.2rem rgba(51, 101, 176, 0.5);
}

.btn-outline-custom.disabled, .btn-outline-custom:disabled {
  color: #3365b0;
  background-color: transparent;
}

.btn-outline-custom:not(:disabled):not(.disabled):active, .btn-outline-custom:not(:disabled):not(.disabled).active,
.show > .btn-outline-custom.dropdown-toggle {
  color: #3365b0;
  background-color: #3365b0;
  border-color: #3365b0;
}

.btn-outline-custom:not(:disabled):not(.disabled):active:focus, .btn-outline-custom:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-custom.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(51, 101, 176, 0.5);
}

.badge-custom {
  color: #3365b0;
  background-color: #3365b0;
}

.badge-custom[href]:hover, .badge-custom[href]:focus {
  color: #3365b0;
  text-decoration: none;
  background-color: #284e88;
}

.alert-custom {
  color: #193155;
  background-color: #c6d6ee;
  border-color: #b6cbea;
}

.alert-custom hr {
  border-top-color: #a2bde4;
}

.alert-custom .alert-link {
  color: #0d1a2e;
}

.list-group-item-custom {
  color: #193155;
  background-color: #b6cbea;
}

.list-group-item-custom.list-group-item-action:hover, .list-group-item-custom.list-group-item-action:focus {
  color: #193155;
  background-color: #a2bde4;
}

.list-group-item-custom.list-group-item-action.active {
  color: #3365b0;
  background-color: #193155;
  border-color: #193155;
}

.bg-custom {
  background-color: #3365b0 !important;
}

a.bg-custom:hover, a.bg-custom:focus,
button.bg-custom:hover,
button.bg-custom:focus {
  background-color: #284e88 !important;
}

.border-custom {
  border-color: #3365b0 !important;
}

.text-custom {
  color: #3365b0 !important;
}

a.text-custom:hover, a.text-custom:focus {
  color: #284e88 !important;
}

/*===============================
=            Globals            =
===============================*/
::-moz-selection {
  color: #fff;
  background-color: #3365b0;
}
::selection {
  color: #fff;
  background-color: #3365b0;
}

a {
  color: #3365b0;
}

a:hover {
  color: #224375;
}

.btn.button-scheme {
  background-color: #3365b0 !important;
  border: 1px solid #3365b0 !important;
}

.btn.button-scheme:focus {
  box-shadow: none !important;
  border-color: #224375 !important;
  background-color: #224375 !important;
}

.btn.button-outline {
  background-color: transparent !important;
  border: 1px solid #3365b0 !important;
  color: #222 !important;
}

.btn.button-outline:focus {
  box-shadow: none !important;
  border-color: #224375 !important;
  background-color: rgba(34, 34, 34, 0.05) !important;
}

/*===================================
=            Navbar Area            =
===================================*/
.navbar.scrolled.navbar-dark .navbar-nav .show > .nav-link, .navbar.scrolled.navbar-dark .navbar-nav .active > .nav-link, .navbar.scrolled.navbar-dark .navbar-nav .nav-link.show, .navbar.scrolled.navbar-dark .navbar-nav .nav-link.active {
  color: #3365b0;
}

.navbar.scrolled .hamburger-inner, .navbar.scrolled .hamburger-inner::before, .navbar.scrolled .hamburger-inner::after {
  background-color: #3365b0;
}

/*=====================================
=            Services Area            =
=====================================*/
.services-area .single-service .icon {
  color: #3365b0;
}

/*======================================
=            Portfolio Area            =
======================================*/
.portfolio-area .filter-control li:hover, .portfolio-area .filter-control li.tab-active {
  color: #5f8cd1;
}

.portfolio-area .filter-control li:hover:before, .portfolio-area .filter-control li.tab-active:before {
  background-color: #5f8cd1;
}

/*=========================================
=            Testimonials Area            =
=========================================*/
.testimonials-area .single-review .quote-icon {
  color: #3365b0;
}

/*=================================
=            Blog Area            =
=================================*/
.blog-area .card .card-body .post-summary .author-name {
  color: #3365b0;
}

.blog-area .card .card-body .post-summary .author-name:hover, .blog-area .card .card-body .post-summary .author-name:focus {
  color: #224375;
}

/*====================================
=            Contact Area            =
====================================*/
.contact-area .contact-form .form-group .form-control:focus {
  border-bottom: 1px solid #80bdff;
}

.contact-area .contact-info .media .info-icon .icon {
  color: #3365b0;
}
